body{
    display: flex;
    justify-content: center;
    background-color: black;
}


.input{
    border: 2px solid yellow;
    margin-bottom: 5px;
    padding: 10px;
    background-color: lightpink;
}
.row{
    background-color: aqua;
    width: 180px;
    padding: 5px;
    
}
.button{
    margin : 5px 5px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: greenyellow;
}



h1{
    background-color: coral;
    padding: 10px;
    border: 2px solid yellow;
}